/** Meginmál og efni forsíðu **/

main {
  /* Notum grid hér til að setja upp bil á milli header, meginmáls og fóts */
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;

  /* grid items eru miðjuð */
  justify-items: center;

  gap: var(--spacing);

  width: var(--width-offset);
  max-width: var(--max-width);
}

main > section {
  width: 100%;
}
