
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* hjálpar class sem felur sjónrænt en skjálesarar lesa */
.sr-only:not(:focus):not(:active) {
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

:root {
    --font-size-base: 16px;
    --font-size-headings: 1.5rem;

    /* Grunn bilið okkar er 1rem == 16px */
    --spacing: 1rem;

    /* Hámarks og lágmarks breidd á efni */
    --max-width:1100px;
    --min-width:0px;

    /* Hæð á nav */
    --height-nav: 4rem;

    /* Border breiddir */
    --margin-right:auto;
    --margin-left:auto;

    /* Litir */
    --color-background-primary: #ffffff;
    --color-background-secondary: #000000;
    --color-accent: #ff9999;
    --color-background-form: var(--color-white);
    --color-border-with-background: var(--color-purple-dark);

    /* Letur stillingar */
    --font-base-size: 1rem;
    /* TODO fleiri stillingar */
}

/** Letur og stærðir **/

/**
 * Grunnstærð er 16px svo 1rem = 16 px.
 * Notum í framhaldi heil og hálf margfeldi af þessu, t.d. 1.5rem til að fá „eitt og hálft bilt“
 */
html {
  font-size: 16px;
}

/* Leturgerðir sem við sækjum úr fonts/ möppu */
@font-face {
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Gelasio/static/Gelasio-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Gelasio';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/Gelasio/static/Gelasio-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Bold.ttf') format('truetype');
}

/*** Allt meginmál notar Gelasio ***/
html,
input,
select,
button {
  font-family: "Gelasio", "Georgia", serif;
}

/*** Allar fyrirsagnir nota Atkinson Hyperlegible regular ***/
h1,
h2,
h3,
legend {
    font-family: 'Atkinson Hyperlegible';
    letter-spacing:0.2rem;
    font-size:48px;
    margin-bottom:4rem;
}

h3 {
    font-size:32px;
    margin-bottom:1rem;
}

/** Lætur myndir aldrei taka meira pláss en foreldri skilgreinir **/
img {
  max-width: 100%;
}

/** Litur á hlekkjum erfist frá foreldri **/
a {
  color: inherit;
}

nav ul li a:active {
    text-decoration:underline;
}

nav ul li a:hover {
    text-decoration:underline;
}

/** Stærð á letri erfist frá foreldri í form element **/
input,
button,
select {
  font-size: inherit;
}

/**
 * Eftirfarandi setur upp grunn umbrot (layout) síðu með flexbox.
 * Við förum yfir flexbox í viku 4 + verkefni 4 en þangað til er hægt að nota þetta
 * sem grunn og án breytinga.
 * Athugið að til þess að þetta virki þar að setja <div class="wrapper"> utan um allt efni 
 * innan <body> sem á að fylgja þessu (<nav> ætti að vera undanskilið).
 */
.wrapper {
  display: flex;
  flex-direction: column;

  /* pláss fyrir nav, það er nákvæmlega svona hátt */
 /* */
  width: 100%;

  /* Án þessa getum við lent í að síður með minna af efni séu ekki með bil fyrir neðan fót */
  min-height: 100vh;
}

/* Allt auka pláss fer í main, ekki haus eða fót */

.wrapper main {
  flex: 1;
}

/**
 * Nav er fast efst og fylgir þegar við skrollum síðu.
 */
nav {
    position:fixed;
    top:0;
    left:0;
    height:4rem;
    border-bottom: 1px solid #000;
    width:100%;
    padding:0 1rem;
    overflow:hidden;
    background-color:#FFFFFF;
    z-index:4;
}

nav ul {
    list-style:none;
    text-align:center;
    margin-top:1rem;
    display: flex;
    justify-content:center;
}

nav ul li {
    margin-left:2rem;
    font-family: 'Atkinson Hyperlegible';
    font-size:1.5rem;
}

nav ul li a {
    text-decoration:none;
}

/** Haus á síðum **/

header {
    text-align: center;
    color:#FFFFFF;
    margin:0;
    padding:10px;
    min-height:10vh;
}

.header-content {
    margin-top:20rem;
    z-index:2;
}

.sidu-titill {
    color:#000000;
    text-transform: uppercase;
    margin:0;
    letter-spacing:0;
    margin-top:4rem;
}

.um-h2 {
    margin:0;
    font-size:1.5rem;
    letter-spacing:0;
    padding-top:1rem;
}

.sh3 {
    margin:0;
    font-size:1.5rem;
    letter-spacing:0;
    padding:0;
}

.aaf {
    padding-top:1rem;
    padding-bottom:1rem;
}

.syningar-aaf {
    padding-bottom:1rem;
}

.skraning-aaf {
    padding:1rem;
}
/** Meginmál og efni forsíðu **/

main {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px; 
    margin-top:0;
    margin-bottom:0;
}

/** Forsíða inngangsmynd **/

.intro {
    background:url("myndir/background.jpg");    
    background-size: cover;
    background-position:center center;
    background-repeat:no-repeat;
    height:48rem;
    background-attachment: fixed;
    z-index:0;
}

.protection {
    background-color:rgba(0,0,0,0.3);
    display:inline;
    position:absolute;
    top:4rem;
    left:0;
    height:44rem;
    width:100%;
    z-index:1;
}

/**
 * Cards á forsíðu.
 */

.card {
    padding:2rem;
    display:flex;
    flex-direction:row;
}

.card:nth-child(2n) {
    flex-direction:row-reverse;
}


.card-lysing {
    margin-right: auto;
}

.card-content {
    width:60%;
    display:flex;
    flex-direction:column;
}

.card-mynd {
    margin-right:1rem;
    width:40%;
}

.card-mynd img {
    border-radius:5px;
    height:12.5rem;
    width:16.875rem;
}

.kicker {
    font-size:0.75rem;
    text-transform: uppercase;
    font-weight:700;
}

/** Efnissíða **/

/** Töflur **/
table {
    margin-bottom:1rem;
    text-align:left;
    width:100%;
    border-collapse:collapse;
}

table th {
    padding:0.5rem;
}

table td {
    padding:0.5rem;
}

table tbody tr:nth-child(odd) {
    background-color:#FF9999;
}

/** Form **/

.skraning {
    max-width:450px;
    margin-left: auto;
    margin-right: auto;
    display:inline;
}

select,input,textarea {
    width:100%;
}

.tjekk {
    width:auto;
}

fieldset {
    border:0;
    max-width:450px;
    text-align:left;
    margin:1rem;
    width:100%;
    display:inline;
}

form {
    background-color:#FFFFFF;
    margin-left:0.5rem;
    margin-right:0.5rem;
    border:1px solid black;
}

button {
    width:fit-content;
    background-color:#000000;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    padding-left:1rem;
    padding-right:1rem;
    border-radius:5px;
    font-size:1rem;
    color:#ffffff;
}

button a {
    text-decoration:none;
}

.form-content {
    margin: 0.5rem;
}

legend {
    margin:0.5rem;
    font-size:1.5rem;
}

footer {
    background-color:#FF9999;
    width:100%;
    padding:1rem;
    text-align:center;
    vertical-align:top;
    justify-items:center;
}
    
.footer {
    text-align:center;
}

.f2 {
    font-family: 'Atkinson Hyperlegible';
    font-weight:700;
    font-size:1.6rem;
    padding-bottom:1rem;
    padding-left:1rem;
    padding-right:1rem;
}  

.f3 {
    font-family: 'Atkinson Hyperlegible';
    font-size:1.4rem;
}

.bil {
    margin:1rem;
}

footer li{
    text-align:center;
    padding:0;
}

footer > ul {
    display:flex;
    text-align:center;
    margin:0;
    padding:0;
}

footer ul {
    list-style:none;
    text-align:center;
}

